<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', '%{model}'], :model => model_class.model_name.human %></h1>
</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	  <a class="close" data-dismiss="alert">x</a>
    <%= msg  %>
  </div>
<% end %>

<%= simple_form_for :session, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :login %>
  <%= f.input :password %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>