
<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :content, input_html: { :class => "tinymce", :rows => '5', :cols => '40' } %>

  <%= f.association :category %>
  <%= f.input :is_published %>
  <%= f.association :user %>
	
  <%= tinymce %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
