<%= search_form_for @q,:url => blogs_path   do |f| %>				
	
<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Categories</li>
  <li><a href="#" onclick="q_category_id_eq.value='';submit();">All</a></li>
  	<% @categories = Category.all(order: 'name')%>
  	<% @categories.each do |category|%>

		<li <%= "class=active" if category.id.to_s == params[:q][:category_id_eq] unless params[:q].blank? %>>

		<%= link_to category.name, '#', :onclick=>"q_category_id_eq.value=" + category.id.to_s + ";submit();" %></li>
  	<% end %>	
	<input type="hidden" name="q[category_id_eq]" id="q_category_id_eq">

</ul>
<br />

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Tags</li>
  <li><a href="#" onclick="q_tags_tag_group_id_eq.value='';submit();">All</a></li>
  <% @tagsfilters = TagGroup.all%>
  <% @tagsfilters.each do |tag1|%>
	<li <%= "class=active" if tag1.id.to_s == params[:q][:tags_tag_group_id_eq] unless params[:q].blank? %>

	><%= link_to tag1.name, '#', :onclick=>"q_tags_tag_group_id_eq.value=" + tag1.id.to_s + ";submit();" %></li>
  <% end %>	
  <input type="hidden" name="q[tags_tag_group_id_eq]" id="q_tags_tag_group_id_eq">
</ul>

<% end %>