<!DOCTYPE html>
<html>
<head>
  <title>B109</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/redactor/redactor.css" />
  <script src="/redactor/redactor.js"></script>


</head>
<body>
	<%= render :partial => 'layouts/menu' %>
	<div class="container">
      <% flash.each do |name, msg| %>
	    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		  <a class="close" data-dismiss="alert">x</a>
	      <%= msg  %>
	    </div>
	  <% end %>
	
	  <%= yield %>
	</div>
	
</body>
</html>
